pipeline {
    agent any

    environment {
        IMAGE = "test_bot"
        BOT_TOKEN = credentials('bot-token')
    }

    stages {

        stage('Checkout') {
            steps {
                git branch: 'main',
                    url: 'https://github.com/ManjiDevs/Jenkins-test'
            }
        }

        stage('Test') {
            steps {
                sh '''
                python3 -m venv venv
                . venv/bin/activate
                pip install -r requirements.txt
                pytest
                '''
            }
        }

        stage('Build Image') {
            steps {
                sh 'docker build -t $IMAGE:latest .'
            }
        }

        stage('Deploy Blue-Green') {
            steps {
                sh '''
                CURRENT=$(docker ps --format "{{.Names}}" | grep bot-anime-blue || true)

                if [ "$CURRENT" = "bot-anime-blue" ]; then
                    NEW="bot-anime-green"
                    OLD="bot-anime-blue"
                else
                    NEW="bot-anime-blue"
                    OLD="bot-anime-green"
                fi

                echo "Starting new container: $NEW"

                docker run -d \
                  --name $NEW \
                  --network prod_network \
                  --restart always \
                  -e BOT_TOKEN=$BOT_TOKEN \
                  $IMAGE:latest

                sleep 5

                echo "Stopping old container: $OLD"
                docker stop $OLD || true
                docker rm $OLD || true
                '''
            }
        }
    }
}
